<!DOCTYPE html>
<html>
<head>
	<title>SUCCESS</title>
</head>
<body>
	<div align="center" style="font-size:80px; font-weight:bold">
  <h1 style="background-color:#FE6D64; color:white">Successfully Added!</h1>
  <h2>Hello!! I will get back to you!!!</h2>
  <h3 style="color:black"><u style="color:#FE6D64">Stay Safe Stay Healthy!!</u></h3>
<div>

</body>
</html>